*{
    padding: 0px;
    margin: 0px;
}
.header{
    width: 1100px;
    height: 40px;
    background-color: black;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: white;
    padding: 0px 15px 0px 15px;
}
header a:hover,header a i:hover{
    color: #83B1C9;
}
.nav{
    width: 1100px;
    height: 70px;
    background-color: white;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}
.nav img{
    width: 160px;
    height: 30px;
}
.nav-main{
    flex-grow: 1;
}
.nav-main a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
}
.nav-main a:hover{
    color: #83B1C9;
    text-decoration: underline;
}
.free-trial{
    display: inline-block;
    background-color: #83B1C9;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 20px;
}
.free-trial:hover,.login a:hover,.popular-text a:hover{
    opacity: 0.8;
}
.fa-angle-down{
    color: gray;
    margin-left: 5px;
    font-size: 3px;
}
.login{
    width: 1150px;
    height: 500px;
    background-color: #003366;
    margin: auto;
    padding-left: 50px;
    padding-top: 300px;
    margin-bottom: 50px;
}
.slogan-question{
    font-size: 40px;
    color: white;
}
.slogan-answer{
    font-size: 40px;
    color: #83B1C9;
    margin-bottom: 25px;
}
.slogan-content{
    color: white;
    font-size: 20px;
    margin-bottom: 50px;
}
.login a{
    text-decoration: none;
    background-color: #83B1C9;
    display: inline-block;
    padding: 12px 30px 12px 30px;
    margin-left: 20px;
    color: white;
    border-radius: 30px;
}
.login input{
    width: 400px;
    height: 40px;
}
.platform-focus{
    width: 1200px;
    margin: auto;
    margin-bottom: 50px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.platform-focus h1{
    margin-bottom: 25px;
}
.wrap{
    width: 1200px;
    margin: auto;
    padding-bottom: 100px;
    margin-bottom: 100px;
    border-bottom: 1px solid #C7D6DB;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.wrap-buttom{
    width: 1200px;
    margin: auto;
    padding-bottom: 100px;
    border-bottom: 1px solid #C7D6DB;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}
.wrap img,.wrap-buttom img,.aside-wrap img{
    width: 50%;
}
.text,.aside-text{
    width: 50%;
    box-sizing: border-box;
}
.text p{
    line-height: 2;
    margin-bottom: 30px;
}
h2,h3{
    font-size: 30px;
    margin-bottom: 50px;
}
.text ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.text ul li{
    width: 50%;
    margin-bottom: 10px;
}
.text a{
    color: #003366;
    text-decoration: none;
}
.fa-circle-check{
    color: #83B1C9;
    margin-right: 5px;
}
.more-services{
    background-color: #EBEBE3;
    width: 1200px;
    margin: auto;
    padding-top: 50px;
}
h3{
    text-align: center;
}
.more-services img{
    background-color: white;
    border-radius: 10px;
}
.more-services-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.more-services-eachflex{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    line-height: 2;
    margin-bottom: 50px;
}
h4{
    font-size: 20px;
    font-weight: 400;
}
aside h4{
    display: inline-block;
    font-size: 30px;
}
.colorblue{
    color: #83BEC9;
}
.brand{
    width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    background-color: white;
}
.brand-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 1px solid #C7D6DB;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.img-width{
    width: 100px;
}
.img-hover:hover{
    background-color: #ffd6aa;
    border-radius: 90px 10px 80px 20px;
}
.aside-wrap{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin-bottom: 50px;
}
.aside-text a{
    color: #83B1C9;
    text-decoration: none;
}
.aside-content{
    margin-bottom: 100px;
    margin-top: 25px;
}
.popular{
    width: 1200px;
    height: 350px;
    margin: auto;
    background-color: #003366;
}
.popular p{
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin-bottom: 50px;
}
.popular a{
    text-decoration: none;
    background-color: #83B1C9;
    padding: 15px 100px 15px 100px;
    color: white;
    border-radius: 20px;
}
.popular-text{
    padding-top: 100px;
    padding-left: 50px;
}
.footer-list{
    width: 1000px;
    height: 500px;
    margin: auto;
    background-color: #003247;
    padding: 50px 100px 50px 100px;
}
.footer-list ul{
    list-style: none;
    padding-top: 50px;
}
.title{
    color: white;
    margin-bottom: 50px;
}
.footer-list-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-list-flex:not(title){
    color: grey;
    line-height: 2;
}
.footer-list a{
    background-color: #EBEBE3;
    text-decoration: none;
    color: black;
    padding: 10px 50px 10px 50px;
    margin-left: 700px;
}